<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>flask+d3 Hello World</title>

    <script src="http://d3js.org/d3.v3.js"></script>
    <style>
div.bar {
display: inline-block;
width: 20px;
height: 75px;
background-color: teal;
margin-right: 2px;
}
    </style>
</head>
<body>
<h1>Hello d3</h1>
<div></div>
<script type="text/javascript">
var dataset = [5,10,15,20,17];


d3.select("body").selectAll("div")
    .data(dataset)
    .enter()
    .append("div")
    .attr("class", "bar")
    .style("height", function(d) {
            var barHeight = d*5;
            return barHeight+"px";
            });
</script>

</body>
</html>
